<div class="header clearfix">
    <ul class="menu">
        <li><a href="{% url 'main:index' %}"
               class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">домой</a></li>
        <li><a href="{% url 'main:products' %}"
               class="{% if request.resolver_match.url_name == 'products' %}active{% endif %}">продукты</a></li>
        <li><a href="{% url 'main:contact' %}"
               class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}">контакты</a></li>
    </ul>
    <a href="#" class="search"></a>
    <a href="#" class="basket"></a>
</div>